<div class="container-fluid">
    <h3 class="h3">Table List </h3>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div >
                    <a href="#">
                        <img class="pic-1" src="../../../assets/images/table/4-seater.png">
                    </a>
                    <div class="bg-success">
                        Table No: 2 <br/>
                        4 seater <br/>
                        Available
                    </div>
                </div>
             
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div >
                    <a href="#">
                        <img class="pic-1" src="../../../assets/images/table/6-seater.png">
                    </a>
                    <div class="bg-secondary">
                        Table No: 3 <br/>
                        6 seater <br/>
                        Blocked
                    </div>
                </div>
             
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div >
                    <a href="#">
                        <img class="pic-1" src="../../../assets/images/table/4-seater.png">
                    </a>
                    <div class="bg-success">
                        Table No: 4 <br/>
                        4 seater <br/>
                        Available
                    </div>
                </div>
             
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div >
                    <a href="#">
                        <img class="pic-1" src="../../../assets/images/table/6-seater.png">
                    </a>
                    <div class="bg-primary">
                        Table No: 6 <br/>
                        6 seater <br/>
                        Booked
                    </div>
                </div>
             
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div >
                    <a href="#">
                        <img class="pic-1" src="../../../assets/images/table/4-seater.png">
                    </a>
                    <div class="bg-success">
                        Table No: 8 <br/>
                        4 seater <br/>
                        Available
                    </div>
                </div>
             
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div >
                    <a href="#">
                        <img class="pic-1" src="../../../assets/images/table/6-seater.png">
                    </a>
                    <div class="bg-primary">
                        Table No: 9 <br/>
                        6 seater <br/>
                        Booked
                    </div>
                </div>
             
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div >
                    <a href="#">
                        <img class="pic-1" src="../../../assets/images/table/4-seater.png">
                    </a>
                    <div class="bg-primary">
                        Table No: 10 <br/>
                        4 seater <br/>
                        Booked
                    </div>
                </div>
             
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div >
                    <a href="#">
                        <img class="pic-1" src="../../../assets/images/table/6-seater.png">
                    </a>
                    <div class="bg-success">
                        Table No: 11 <br/>
                        6 seater <br/>
                        Available
                    </div>
                </div>
             
            </div>
        </div>
    </div>
</div>
